.font-montserrat {
    font-family: 'Montserrat';
}

.font-oswald {
    font-family: 'Oswald';
}

.inno-header .navbar-brand {
    font-size: 1rem;
}

section.inno-section {
    margin: 5rem auto 0 auto;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .header-title {
    padding-top: 6rem;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Oswald';
}

.jumbotron .section-title {
    font-size: 3rem;
    padding-top: 6rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald';
}

.jumbotron .section-description {
    line-height: 21px;
    letter-spacing: 0.05em;
}

.jumbotron .jumbotron-button-wrapper {
    height: 3.5rem;
    margin: 4rem auto;
    line-height: 21px;
}

.jumbotron .jumbotron-button-wrapper button {
    border: none;
    border-radius: 0;
    background-color: #253BF8;
    padding-left: 3rem;
    padding-right: 3rem;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.bg-1 {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.bg-1.bg-overlay-5 {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}


.inno-footer {
    background-color: #F8F8F8;
    padding: 2.5rem;
}

.inno-footer .footer-link {
    color: #021235;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
}

.inno-footer .footer-logo-wrapper {
    height: 3.5rem;
    margin: 0 5rem;
}

.inno-footer .footer-logo-wrapper img{
    height: 100%;
    width: auto;
}

.nav-link {
    color: black;
    font-size: 0.6rem;
}